/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
* {
    font-family: montserrat;
}
 

a {
    color: black;
    text-decoration-line: none;
}

/******************************************
/* NAVIGATION BAR
/*******************************************/
  .logo {
    width: 55px;
    margin-bottom: 10px;
}

.join {
    color: #fcc008;
    font-weight: 900;
}

.login {
    font-size: 13px;
}

nav header p {
    margin: 5px;
}

li {
    list-style: none;
    font-weight: 300;
    margin-bottom: 15px;
}

li:hover {
    background-color: #fcc008;
    font-weight: 800;
}

ul {
    padding: 0;
}

  /******************************************
  /* MAIN SECTION
  /*******************************************/
.activision {
    width: 100%;
    float: left;
}

section span {
    font-weight: 600;
    font-size: 11px;
    float: left;
    color: 333333;
}

h1 {
    margin-bottom: 10px;
    margin-top: 1px;
    font-size: 36px;
    font-weight: 900;
}

.lastDiv {
    border-bottom: none;
}
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
aside div a h2 {
    font-weight: 900;
}

aside div a span {
    font-weight: 600;
    margin-bottom: 50px;
}

aside div {
    border-bottom: solid #dddddd 2px;
    margin-bottom: 10px;
    height: 140px;
}

.techCrunchPro {
    height: 25px;
}

.techCrunchProOne {
    margin-top: 0;
}
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  nav,section,aside {
    float: left;
  }

  nav {
    width: 12%;
    height: 1000px;

  }
  section {
    width: 60%;
    padding-right: 55px;
}

aside {
    width: 27%;
}

h3 {
    float: none;
}